<h1 class="text-center text-5xl text-gray-800 py16 ">HOME</h1>

<p class="text-center text-gray-800 text-3xl font-semibold">Welcome to my application</p>

<div class="text-center w-full my16">

    <a href="/task" class="font-semibold bg-green-500 text-xl text-white hover:br-green-700 px:8 py-4 text-center rounded-m1 
    mx-auto">Get Started</a>

</div>